NEXT_PUBLIC_EMAIL="adityaramadhanikita.x13@gmail.com"
NEXT_PUBLIC_PASSWORD="btwu olhy deuf ckyv"
SPOTIFY_CLIENT_ID="c00e0f42261f4ab49a74b1ada758d61f"
SPOTIFY_CLIENT_SECRET="2f96992a6ef8440d92a2b3d5a6071346"
SPOTIFY_REFRESH_TOKEN="AQAUy_6haqKqLeQR6Vf-YzIUCT9-A25vTNn0vMI6ZsgH1KmqmJ5RjHsElhcunMg_3ooK3cvl5OTejr5iYKrWM9e9xzn7yD2uPqu2EyB_Jt8YhkEdgzkB4HI7ORm_ALU1pf0"
LASTFM_API_KEY="546dcb5364bdd9ba953af9b398f9a420"
LASTFM_USERNAME="Aditya1309"q