NEXT_PUBLIC_EMAIL="adityaramadhanikita.x13@gmail.com"
NEXT_PUBLIC_PASSWORD="btwu olhy deuf ckyv"
NEXT_PUBLIC_CLIENT_ID_SPOTIFY="c00e0f42261f4ab49a74b1ada758d61f"
NEXT_PUBLIC_CLIENT_SECRET_SPOTIFY="2f96992a6ef8440d92a2b3d5a6071346"
NEXT_PUBLIC_REFRESH_TOKEN_SPOTIFY="Your Refresh Token Spotify"